@using Microsoft.Extensions.Hosting;

@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Model.HttpStatusCode</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId && Model.Environment.IsDevelopment())
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.Environment.IsDevelopment())
{
    <h3>Development Mode</h3> <h4>@Model.RequestRoute</h4>
    <p>
        <strong>@Model.ShowerDeveloperMessage</strong>
    </p>
}
else
{
<p>@Model.ShowerUserMessage</p>
}
